{%- liquid
  assign sub_text = section.settings.sub_text
-%}
<section class="main-content">
  {% if sub_text != blank %}
    <h2>{{ sub_text }}</h2>
  {% endif %}
  {%- for mod_block in settings.blocks -%}
    {%- liquid
      assign button_url = mod_block.settings.button_url
      assign button_text = mod_block.settings.button_text
    -%}
    {%- if button_url != blank and button_text != blank -%}
      <a href="{{ button_url }}" class="text-content__button">
        {{ button_text }}
      </a>
    {%- endif -%}
  {%- endfor -%}
</section>
{% schema %}
{
  "name": "Main Content",
  "settings": [
    {
      "type": "text",
      "id": "sub_text",
      "label": "Sub Text"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "Content"
    }
  ],
  "blocks": [
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Main Content"
    }
  ]
}
{% endschema %}
