.two-up-image_picker{
  display: flex;
}
.two-up__title{
  padding-left: 30px;
}
.two-up__image{
  width: 50%;
  height: 50%;
}
.two-up__image-url{
  display: contents;
}

@media only screen and (max-width: 400px) {
  .two-up-image_picker {
    flex-direction: column;
  }

  .two-up__image {
    width: 100%;
    max-width: 100%;
  }
}
